[Desktop Entry]
Name=Mangopret
Comment=Cross-platform DPI bypass manager
Exec=run_gui.sh
Icon=mangopret
Terminal=false
Type=Application
Categories=Network;Utility;
Keywords=Mangopret;zapret;dpi;bypass;discord;youtube;
